@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Roboto Mono', monospace;
}



/* header styling */
nav {
    background: linear-gradient(145deg, darkorchid, #153677);
    color: white;
    font-size: 25px;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0;
}

nav a {
    list-style: none;
    text-decoration: none;
    color: white;
    padding: 5px;
    
}
nav a:hover {
    background-color: white;
    color: darkorchid;
    border-radius: 20px;
    padding: 5px;
}

ul {
    margin-right: 0px !important;
    margin: 0 !important;
    padding: 0;
}
/* header style end */

/* main section styling */

main{
    background: linear-gradient(145deg, #153677, darkorchid);
    color: black;
    height: 75vh;
}

#contact-us{
    font-size: 30px;
    text-align: center;
    margin: 10px;
    color: white;
}

/* left column with form */
#left{  
    padding: 5px;
    margin: 5px;
    border: 2px solid darkorchid;
    border-radius: 12px;
    text-align: center;
    background-color: darkorchid;
}

#form{
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
}

input {
    border-radius: 12px;
    padding: 10px;
    width: 80%;
    border: 2px solid darkorchid;
}

.row {
    margin: auto !important;
    padding: 10px;    
}

label{
    margin: 10px;
    padding: 5px;
}

textarea {
    border-radius: 12px;
    padding: 10px;
    width: 80%;
    height: 100%;
    border: 2px solid darkorchid;
}

#button {
    color: linear-gradient(145deg, #153677, #9932cc);
    width: 20%;
    border-radius: 12px;
    margin-bottom: 12px;
    padding: 4px;
}

#button:hover {
    color: whitesmoke;
    background-color: darkorchid;
}


/* right column */
/* #right{
    padding: 5px;
    margin: 5px;
    border: 2px solid darkorchid;
    border-radius: 12px;
}

.contact-details{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile-picture{
    width: 30%;
    height:30%;
    border-radius: 50%;
    border: 2px solid !important;
} */


/* main section styling end */

/* footer styling start */
footer{
    background: linear-gradient(145deg, darkorchid, #153677);
    position: relative;

}
.footer-container{
    width:100%;
    border: 4px solid  #153677;
}
.social-icons{
    display: flex;
    justify-content: center;
}
.social-icons a {
    text-decoration: none;
    padding: 10px 20px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.social-icons a i{
    font-size: 20px;
    color: black;
    opacity: 0,9;
}
.social-icons a:hover{
    background-color: black;
    transition: 0.5s;
}
.social-icons a:hover i{
    color: white;
    transition: 0.5s;
}
.footer-bottom{
    background: linear-gradient(145deg, darkorchid, #153677);
    padding: 10px;
    text-align: center;
}
.footer-bottom p{
    color: rgb(0, 0, 0);
    .designer{
        color: rgb(0, 0, 0);
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: bold;
        margin: 0px 5px;;
    }
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
/* footer style end  */

@media screen and (max-width: 300px){
    .nav {
width:100%;
    }
}

@media only screen and (max-width:400px){
    nav a{
        font-size: 10px;
        padding:0;

    }
}

@media only screen and (max-width:300px){
    .social-icons a{
        padding:10px 15px; 
    }
  }